<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">List</li>
  </ol>
</nav>
<h1 class="h3">Browse Flights</h1>
<div *ngIf="data">
  <nav>
    <ul class="pagination">
      <li class="page-item">
        <button class="page-link" type="button" (click)="first()">First</button>
      </li>
      <li class="page-item">
        <button class="page-link" type="button" (click)="previous()">
          Previous
        </button>
      </li>
      <li class="page-item">
        <button class="page-link" type="button" disabled>
          {{ data.number + 1 }}
        </button>
      </li>
      <li class="page-item">
        <button class="page-link" type="button" (click)="next()">Next</button>
      </li>
      <li class="page-item">
        <button class="page-link" type="button" (click)="last()">Last</button>
      </li>
    </ul>
  </nav>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>twitter</td>
      </tr>
    </tbody>
  </table>
</div>
